<div id="user-box">
  <h2>Welcome, <%= current_user.username.capitalize %></h2>
</div>

<div class="form-container">
  <h1> Tweet, tweet, tweet ! Make your tweet here ! </h1>

  <form method="POST" action='/tweets'>
    <input type="text" id="content" name="content" placeholder="Tweet"><br></br>
    <input type="submit" id="submit" value="submit">
  </form>
</div>
