<div id="user-box">
  <h2>Welcome, <%= current_user.username.capitalize %></h2>
</div>

<div class="col-1">
  <nav>
    <ul>
      <li><a href='/tweets/new'>TWEET</a></li>
      <li><a href='/users/:slug'>USER PROFILE</a></li>
      <li><a href='/logout'>LOGOUT</a></li>
    </ul>
  </nav>
</div> <!-- end of navigation col !-->

<div class="col-2" id="tweet-content">
  <h2>These are all tweets posted by users:</h2>
    <%  @tweet.each do |tweet| %>
      <p><%= tweet.content %>  <span style="font-size:0.8em">-- <%= User.find_by_id(tweet.user_id).username %></span></p>
    <% end %>
</div>


<div id="color-col-1"></div>
<div id="color-col-2"></div>
<div id="color-col-3"></div>
<div id="color-col-4"></div>
<div id="color-col-5"></div>
<div id="color-col-6"></div>
