<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type= "text/css" href="https://fonts.googleapis.com/css?family=Asul|Open+Sans">
<title>Fwitter Homepage</title>
</head>
<body>

<%= yield %>

</body>
</html>
