<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type= "text/css" href="https://fonts.googleapis.com/css?family=Asul|Open+Sans">
    <title>Fwitter Homepage</title>
  </head>

  <body>
    <div id="logo-box">
      <h1>fwitter</h1>
    </div>

    <%= yield %>


    <footer class="clear">
      <h6>&copy; 2017 Tayari Appiah + Christina Cole. All Rights Reserved.</h6>
    </footer>
  </body>
</html>
